 body{
            background-color:rgb(237, 235, 238);
        }
        h1{
            color: rgb(40, 156, 89);
        }
        h2{
            color: blueviolet;
        }
        p{
            color: brown;
        }
        p{
            text-align: justify;
        }